# Encoding Begins From Here

In [1]:
"""Encoding means changing the categorical data into numerial data"""

'Encoding means changing the categorical data into numerial data'

In [2]:
# For Encoding

"""Should know the type of categorical data
    i.e. Ordinal and Nominal Data Type
    Whre Ordinal is Data with Order and Nominal is Data with no Order"""

'Should know the type of categorical data\n    i.e. Ordinal and Nominal Data Type\n    Whre Ordinal is Data with Order and Nominal is Data with no Order'

In [3]:
# Importing the library

import pandas as pd

In [5]:
# Importing the file

dfile = pd.read_csv("Salary_Data.csv")
dfile.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Salary_Data.csv'

In [ ]:
#Removin the null
dfile.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [ ]:
dfile2= dfile.dropna()

In [ ]:
dfile2.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [ ]:
# The above is ordinal data type since

In [ ]:
# Checking the unique value

dfile2['Education Level'].unique()

array(["Bachelor's", "Master's", 'PhD', "Bachelor's Degree",
       "Master's Degree", 'High School', 'phD'], dtype=object)

In [ ]:
# Column name
dfile.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [ ]:
# Renaming the education level and years of experience

dfile2 =dfile2.rename(columns={
    'Education Level': 'Education',
    'Years of Experience' : 'Experience'
})

In [ ]:
dfile2.head()

    Age  Gender   Education          Job Title  Experience    Salary
0  32.0    Male  Bachelor's  Software Engineer         5.0   90000.0
1  28.0  Female    Master's       Data Analyst         3.0   65000.0
2  45.0    Male         PhD     Senior Manager        15.0  150000.0
3  36.0  Female  Bachelor's    Sales Associate         7.0   60000.0
4  52.0    Male    Master's           Director        20.0  200000.0

In [ ]:
dfile2['Education']

0              Bachelor's
1                Master's
2                     PhD
3              Bachelor's
4                Master's
              ...
6699                  PhD
6700          High School
6701    Bachelor's Degree
6702      Master's Degree
6703          High School
Name: Education, Length: 6698, dtype: object

## Label Encoding

In [ ]:
# For removing the inconsistency we, use replace function provided by panda as

dfile2['Education'] = dfile2['Education'].replace({
    "Bachelor's" : 'Bachelors',
    "Master's": 'Masters',
    "Bachelor's Degree": 'Bachelors',
    "Master's Degree": 'Masters',
    "phD" : 'PhD'
})

In [ ]:
# Identifying the education value

dfile2['Education'].unique()

array(['Bachelors', 'Masters', 'PhD', 'High School'], dtype=object)

In [ ]:
# Encoding

dfile2['Education'] = dfile2['Education'].map({
    "High School" : 0,
    "Bachelors" : 1,
    "Masters" : 2,
    "PhD" : 3
})

In [ ]:
dfile2.head()

    Age  Gender  Education          Job Title  Experience    Salary
0  32.0    Male          1  Software Engineer         5.0   90000.0
1  28.0  Female          2       Data Analyst         3.0   65000.0
2  45.0    Male          3     Senior Manager        15.0  150000.0
3  36.0  Female          1    Sales Associate         7.0   60000.0
4  52.0    Male          2           Director        20.0  200000.0

In [ ]:
# Label Encoding

from sklearn.preprocessing import LabelEncoder;

encoder = LabelEncoder()

dfile2['Experience'] = encoder.fit_transform(dfile2['Experience'])

## One Hot Encoding

In [ ]:
### One Hot Encoding is done for Nominal Values


"""For Instance:
    Gender_Male             Gender_Female1          Gender_Other
    1                           0                   0
    0                           1                   0
    0                           0                   1
"""

In [ ]:
dfile2['Gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [ ]:
### For One Hot Encoding, we use getdummies function....

import pandas as pd

df = pd.get_dummies(dfile2, columns=['Gender'], dtype=int)

In [ ]:
df.head()

,Age,Education,Job Title,Experience,Salary,Gender_Female,Gender_Male,Gender_Other
0,32.0,1,Software Engineer,7,90000.0,0,1,0
1,28.0,2,Data Analyst,5,65000.0,1,0,0
2,45.0,3,Senior Manager,17,150000.0,0,1,0
3,36.0,1,Sales Associate,9,60000.0,1,0,0
4,52.0,2,Director,22,200000.0,0,1,0

In [ ]:
# Importing numpy librares

import numpy as np

# Gender =female

dfnp = np.array([[40,0,0]])

In [ ]:
# Gender = male

dfnp = np.array([[40,1,0]])

In [ ]:
# Splitting the features

x = sfilere[['Age', 'Education', 'Experience']]
y = sfilere.Salary

NameError: name 'df' is not defined