In [2]:
print('Hello world');

Hello world

In [3]:
print("Hey Python")

Hey Python

In [5]:
print ("This is OP");

#ctrl + enter to run the cell

#escape + b to create a new cell below

#shift + enter to run the cell

This is OP

# Python Programming Language

# Head1
## Head2
### Head3

In [7]:
#Input_Output
# Value and Variables
# Data Types
# Operators
# if-else
# Loops

# INPUT_OUTPUT

In [9]:
row = 12 #This is a way of initializing a variable
print(row) #This is a way of printing the value of a variable
print("row") #This is a way of printing a string

12
row

In [11]:
roll = input()
print(roll) #This is a way of printing the value of a variable

12

In [13]:
roll = input('Enter your roll')
print("The roll number is:", roll) #This is a way of printing the value of a variable

The roll number is: 13

In [20]:
print("Hello Programming World!");

#This is for displaying the output

Hello Programming World!

# Finding  the Data Type Used

In [ ]:
roll = int(input("enter a name")) # This will convert the input to an integer
type(roll) # This will give the type of the variable roll

int

In [16]:
roll = 12
type(roll)

data1 = "Hello"
type(data1)

data2 = 0.0
type(data2)

float

# Loops

## For Loop

In [23]:
# Loops
for i in range(10):
    print("Hello Moto!")

Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!
Hello Moto!

In [29]:
# Loops
for i in range(5, 0, -1):  # This will create a range from 5 to 2 (exclusive of 1)
    print(i) # This will not print anything because the range is invalid

5
4
3
2
1

In [30]:
for i in range(10, 0, -2):  # This will create a range from 10 to 2 (exclusive of 2) with a step of -2
    print(i) # This will print 10, 8, 6, 4

10
8
6
4
2

## While Loop

# Printing numbers from 1 to N

In [ ]:
n = int(input("enter the number:"))
print(n)

In [36]:
n = 1 # This is the starting point of the loop
while( n<=6):  # This is the condition for the loop to run
    print(n) # This will print the value of n
    n=n + 1 # This will increment the value of n by 1
print(n) # This will print when the loop ends

1
2
3
4
5
6
7

# Lists

In [25]:
roll = [2,3,4,5,6,7,8,9,10]  #This is a list
for i in roll: 
    print(i)

2
3
4
5
6
7
8
9
10

# List of Questions for Looping Statements

In [ ]:
# Wap to print the number from 1 to n

In [1]:
n= int(input("Enter the number:"));
for i in range(1, n+1): #This will create a range from 1 to n (inclusive)
    print(i) #This will print the value of i from 1 to n

1
2
3
4
5
6

In [ ]:
# Wap tp print the sum of the number from 1 to n

In [ ]:
n = int(input("Enter the value of n:"))
sum = 0 # This is the starting point of the sum
for i in range(1,n+1):
    sum = sum + i # This will add the value of i to the sum
    print(sum) # This will print the value of sum after each iteration

1
3
6
10

In [ ]:
# WAP to print the product of the number from 1 to n

In [5]:
n = int(input("Enter the value of n:"))
i= 1 # This is the starting point of the loop
product = 1 # This is the starting point of the product
for i in range(1,n+1):
    product = product * i # This will multiply the value of i to the product
    print(product) # This will print the value of product after each iteration

1
2
6

In [9]:
# Wap to  print the multiple of 5

In [10]:
n = int(input("Enter the avalue of n:"))
result = 1 
for i in range(1,11):
    result= n*i
    print(result)
     # This will print the value of n after each iteration

5
10
15
20
25
30
35
40
45
50

In [3]:
#   Wap to find whether the number is prime or not using for loop
n = int(input("enter the number:"))

for i in range(2,n):
    if(n%2 ==0 ):
        print(n, "The number is composite")
        break
    if(i==n-1):
        print(n, "is the prime number")

7 is the prime number

In [ ]:
n= int(input("Enter the number:"))

### Use case of Break : It skips the iteration completely once the condition is meet

In [16]:
# Program to implement the use of break
apple = [1,2,3,4,5,6]
for i in apple:
    if i== 5:
        break
    else: 
        print(i)

1
2
3
4

### Use case of Continue: It skips the iteration the one when it is in

In [17]:
roll = [1,2,3,4,5,6,7]
for i in roll:
    if i== 5:
        continue  
    else:
        print(i)

1
2
3
4
6
7

#### Displaying not prime number and prime number

In [ ]:
# WAP to show that the number is not prime
n = int

The number is prime

In [20]:
#WA to find whether the number is prime or not prume using else in for 
n = int(input("Enter the number:"))

for i in range(2,n):
    if(n%i == 0):
        print(n, "The number is not prime")
        break
else:
    print(n,"The number is prime")

8 The number is not prime

#### Calculating the sum of the digits of the numbers

In [6]:
# WAP to find the sum of of the digits of a number
n = int(input("Enter the number:"))
sum = 0         
while n > 0:
    digit = n % 10  # Get the last digit
    sum += digit    # Add the digit to the sum
    n //= 10        # Remove the last digit from n
print("the sum of the digits is:", sum) # Print the final sum

the sum of the digits is: 18

### Calculating the sum of the digits fo the numbers using list

In [21]:
#WAP to find sum using list
n = list(input("Enter the numbers"))
sum = 0
for i in n:
    sum +=int(i) # Convert each character to an integer and add it to the sum
print("The sum of the digits is:", sum) # Print the final sum

The sum of the digits is: 9

### Use of Pass in Loop

In [7]:
#Wap to show the use of pass in loop
x = [1,2,3,4,5,6,7,8,9]
for i in x:
    if(i == 5):
        pass
    print(i)

1
2
3
4
5
6
7
8
9

### Use of else in for-- This does allow the else condition to work when there is  break or continue statements.

In [ ]:
#WAP to show the use of else in for-- This does allow the else condition to work when there is no  break or continue statements.
for i in range(1,10):
    print(i)
else:
    print("This is the end of the loop")

1
2
3
4
5
6
7
8
9
This is the end of the loop

In [12]:
#Wap to show the use of else in for-- This does allow the else condition to work when there is  break or continue statements.
for i in range(1,10):
    if(i==5):
        break
    print(i)
else:
    print("The loop has ended")

1
2
3
4

In [15]:
#WAP to show how the numbers are present or absent

x= [1,2,3,4]
for i in x:
    if 5 in x:
        print(i, "is present in the list")
        break
else:
     print(i, "i is not present in the list")

4 i is not present in the list

## Data Structures

#### Know about which is list and set or dictionary

In [ ]:
#List is denoted by [] and list()
#Dictionary is denoted by {}

int

### List: Denoted by [] and list()

### Indexing in List

In [7]:
# Wap to show the index of the things in list
id = [1,2,3,4]
id[3]

4

In [10]:
#Wap to update the value of things in list
id = [1,2,3,4]
id[3] = 5
print(id)

[1, 2, 3, 5]

# Practice the functions related with the list 
# Day 3 Is Completed

# Day 4 Starts

## List

#### SLicing
####Syntax:  x= [] x[Start, No. of elements to be taken]

In [4]:
x= ["Hari", "Shyam", 3]
  #The below technique defines start, no. of elements to be taken and the way the elements are taken
x[0:3:2]

['Hari', 3]

In [1]:
x = [1,2,3,4]

x[0:3]

[1, 2, 3]

In [2]:
x = ["Rabbit", "Jiru", "Mahakal", "Dandelion"]

x[0:4]

['Rabbit', 'Jiru', 'Mahakal', 'Dandelion']

### Adding Elements in the list

In [ ]:
### Using Append ###Append helps to add the elements to the end of the list
x = [10]
x.append(20)
x

[10, 20]

In [12]:
### Using Extend    ###Extend helps to add the elemnts of one of the list to the other
x = [10]
y = ['Rabbit']
x.extend(y)
x

[10, 'Rabbit']

In [14]:
### Using Concatenation ###It concatenate two strings using + sign
x = [10]
y = ["Jiru"]
x = x+y
x

[10, 'Jiru']

In [ ]:
### Using insert   ###It helps to insert the elements in the list in specific or desired location that we want
x = [10, 12, "Rabbit"]
x.insert(3, "Jiru")
x

[10, 12, 'Rabbit', 'Jiru']

### Removing Elements from the list

In [28]:
###Using remove()   #This removes the specific elements from the list first occurence
x = [1,"Rabbit"]
x.remove("Rabbit")
x

[1]

In [23]:
### Using pop()   #This pops out the specific elements from the list by utilizing its position
x = [1,2,23,4,5,6]
x.pop(0)
x

[2, 23, 4, 5, 6]

In [24]:
### Using clear()    #THis completely removes the elements from the list
x = [1,2,34,5]
x.clear()
x

[]

In [25]:
### Using pop(i)   #This removes the i elements
x = [1,2,3,4]
x.pop(3)
x

[1, 2, 3]

In [29]:
#### Using pop()  #This removes elements last of the list
x = [1,2,3,5]
x.pop()
x

[1, 2, 3]

### Other Functions

In [30]:
###Using reverse to compute the reverse of the number
x = [1,2,3,4]
x.reverse()
x

[4, 3, 2, 1]

In [31]:
### Using the sort to comptue sorted order
x = [1,2,3,4]
x.sort()
x

[1, 2, 3, 4]

In [32]:
### Using the sort to compute reverse order
x = [ 1,2,3,4 ]
x.sort(reverse=True)
x

[4, 3, 2, 1]

In [39]:
### Using count to calculate the number of times that number 
x = [1,2,3,4,5,6,5]
x.count(5)

2

### Built-In Functions

In [35]:
### Using max and min 
x = [1,2,3,4,5]
print(max(x))
print(min(x))
print(sum(x))
print(sorted(x))
print(len(x))

5
1
15
[1, 2, 3, 4, 5]
5

## Tuple

In [40]:
### Defining the tuple
x = (0,1,2,3)
x

(0, 1, 2, 3)

In [44]:
### Indexing the tuple
x= (0,1,2,3)
x[1]

1

In [51]:
### Indexing the tuple giving some positions
x = (0,1,2,3,4,5)
x[0:4]

(0, 1, 2, 3)

In [53]:
### Concatenating the two tuples
x = (1,2,3,4)
y = (2,3,4,5)
z= x+y
print(z)

(1, 2, 3, 4, 2, 3, 4, 5)

In [54]:
### Multiple Assignments
(x,y) = (5,6)

print(x)
print(y)

5
6

In [55]:
### Repeating the tuple data values
x = (1,2,3,4)
x= x*3
x

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [56]:
###Unpacking the tuple
(6,7,8)
(x,y,z) = (6,7,8)
print(x)

6

In [61]:
### Checking Membership
tuple_value = (6,7,"Rabbit")
print(6 in tuple_value)

print("Rabbit" in tuple_value)

print("Jiru" in tuple_value)

True
True
False

In [63]:
### Tuple Methods

### Count Methods Used
tuple_value = ("Rabbit", "Mahakal" , "Dangdelions")

print(tuple_value.count("Rabbit"))

1

In [ ]:
### Index Methods Used